.home{
    padding: 0.5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #29339B;
    height: 100%;
}
.home h2, h3 {
    padding: 1rem;
    margin: 0.1rem;
    color: #F0F7EE;
}
table{
    width: 80vw;
    border-collapse: collapse;
    position: relative;
    background-color: #F0F7EE;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    width: 65px;
}

thead{
    background-color: #006494;
    color: white;
}

.img{
    width: 80px;
    height: 80px;
    
    object-fit: contain;
}
td p {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}