.home{
    padding: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
    
    background-color: #29339B;
    height: 100%;

}
.home h2, h3 {
    text-align: center;
}
.link{
    color: black;
    text-decoration: none;
    background-color: #F0F7EE;
    padding: 5px;
    margin: 1rem;
    margin-left: 9rem;

}
.productscontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home h2, h3 {
    padding: 1rem;
    margin: 0.1rem;
    color: #F0F7EE;
}
table{
    width: 80vw;
    border-collapse: collapse;
    position: relative;
    background-color: #F0F7EE;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    width: 65px;
}

thead{
    background-color: #006494;
    color: white;
}

.img{
    width: 80px;
    height: 80px;
    
    object-fit: contain;
}
td p {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addproducts{
    width: 250px;
    margin: 0.5rem;
    background-color: #006494;
    border: none;
    color: white;
}

.addproducts:hover{
    background-color: #03618d;
}

