.home{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home h2 {
    padding: 1rem;
    margin: 1rem;
}
table{
    width: 80vw;
    border-collapse: collapse;
    position: relative;
}
td, th{
    border: 1px solid black;
    padding: 10px;
    width: 65px;
}

thead{
    background-color: #383838;
    color: white;
}

.img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}