.nav{
    background-color: rgb(20, 20, 20);
    padding: 1rem;
}
.menucontainer{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.link {
    text-decoration: none;
    color: #FFFDF7;
    font-weight: bolder;
    font-size: larger;
    opacity: 1;
}

.link:hover {
    opacity: 0.9;
}
.nav p {
    color: #FFFDF7;
    cursor: pointer;
}